* {
  --box-shadow-level0: hsl(0, 0%, 0%, 0.1) 0em 0.25em 0.75em;
  /* --box-shadow-level0-dark: hsl(140, 8%, 12%, 0.3) 0em 0.25em 0.75em; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  list-style: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #f8faf9;
}
